[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3"

[packages]
speechrecognition = "*"
pocketsphinx = "*"
pyaudio = "*"
tweepy = "*"
coverage = "*"
picamera = { version = "*", os_name = "== 'pi'" }
mock = "*"
rpi = { git = "https://github.com/nosix/raspberry-gpio-emulator/", os_name = "== 'darwin'" }

[dev-packages]
pylint = "*"
mock = "*"
