[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[requires]
python_version = "3"

[packages]
speechrecognition = "*"
pocketsphinx = "*"
pyaudio = "*"
tweepy = {git = "https://github.com/tweepy/tweepy"}
coverage = "*"
picamera = {version = "*",platform_machine = "== 'arm'"}
python-dotenv = "*"
clarifai = "*"
rpi-gpio-development-mock = {git = "https://github.com/willbuckner/rpi-gpio-development-mock",platform_machine = "!= 'arm'"}
"RPi.GPIO" = {version = "*",platform_machine = "== 'arm'"}

[dev-packages]
pylint = "*"
mock = "*"
